USE [master]
GO
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Student')
BEGIN
CREATE DATABASE [Student] ON  PRIMARY 
( NAME = N'Student', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Student.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Student_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Student_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
EXEC dbo.sp_dbcmptlevel @dbname=N'Student', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Student] SET DB_CHAINING OFF 
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT AUTHORITY\SYSTEM')
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'HN-E5B1BAD753A4\SQLServer2005MSSQLUser$HN-E5B1BAD753A4$SQLEXPRESS')
CREATE LOGIN [HN-E5B1BAD753A4\SQLServer2005MSSQLUser$HN-E5B1BAD753A4$SQLEXPRESS] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'BUILTIN\Users')
CREATE LOGIN [BUILTIN\Users] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'BUILTIN\Administrators')
CREATE LOGIN [BUILTIN\Administrators] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
USE [Student]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblMonHoc]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblMonHoc](
	[fldMaMH] [nvarchar](10) NOT NULL,
	[fldTenMH] [nvarchar](20) NOT NULL,
	[fldSoTrinh] [int] NULL,
	[fldHinhThucThi] [nvarchar](20) NULL,
	[fldHocKy] [int] NULL,
	[fldPhongHoc] [nvarchar](10) NULL,
 CONSTRAINT [PK_tblMonHoc] PRIMARY KEY CLUSTERED 
(
	[fldMaMH] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
if not exists (select * from sys.stats where name = N'PK_tblMonHoc' and object_id = object_id(N'[dbo].[tblMonHoc]'))
UPDATE STATISTICS [dbo].[tblMonHoc]([PK_tblMonHoc]) WITH STATS_STREAM = 0x010000000100000000000000000000001F4C8C1D00000000A4020000000000006402000000000000E7030000E7000000140000000000000008D000340000000007000000F95E8501B9A0000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000008410000804000000000000008410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000009E00000000000000000100000000000020000000000000003D000000000000005C000000000000007D00000000000000300010000000803F000000000000803F04000001001D00410061006100300010000000803F000000000000803F04000001001F006700670067006700300010000000803F000000000000803F040000010021004D004800300030003100300010000000803F000000000000803F040000010021004D004800300030003200FF01000000000000000400000004000000280000002800000000000000000000000D00000041006100610067006700670067004D004800300030003100320006000000400000000081030000008104030000400407000081010B000001010C000000, ROWCOUNT = 7, PAGECOUNT = 1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblKhoa]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblKhoa](
	[fldMaKhoa] [nvarchar](10) NOT NULL,
	[fldTenKhoa] [nvarchar](50) NOT NULL,
	[fldSDT] [nvarchar](15) NULL,
 CONSTRAINT [PK_tblKhoa] PRIMARY KEY CLUSTERED 
(
	[fldMaKhoa] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
if not exists (select * from sys.stats where name = N'PK_tblKhoa' and object_id = object_id(N'[dbo].[tblKhoa]'))
UPDATE STATISTICS [dbo].[tblKhoa]([PK_tblKhoa]) WITH STATS_STREAM = 0x010000000100000000000000000000003E455D0D000000009B020000000000005B02000000000000E7030000E7000000140000000000000008D000340000000007000000475E0000BCA0000004000000000000000400000000000000000000000000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000100000000000E04000008040000000000000E0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000009800000000000000F70000000000000020000000000000003F000000000000005A000000000000007900000000000000300010000000803F000000000000803F04000001001F0043004E0054005400300010000000803F000000000000803F04000001001B004B005400300010000000803F000000000000803F04000001001F00510054004B004400300010000000803F000000000000803F04000001001F00540043004E004800FF01000000000000000400000004000000280000002800000000000000000000000E00000043004E00540054004B005400510054004B004400540043004E00480005000000400000000081040000008102040000810406000001040A000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblDangNhap]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblDangNhap](
	[fldTenDangNhap] [nvarchar](50) NOT NULL,
	[fldMatKhau] [nvarchar](20) NOT NULL,
	[fldHoTen] [nvarchar](50) NULL,
	[fldEmail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblDangNhap] PRIMARY KEY CLUSTERED 
(
	[fldTenDangNhap] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000002_7D78A4E7' and object_id = object_id(N'[dbo].[tblDangNhap]'))
CREATE STATISTICS [_WA_Sys_00000002_7D78A4E7] ON [dbo].[tblDangNhap]([fldMatKhau]) WITH STATS_STREAM = 0x0100000001000000000000000000000051FC85C4000000001302000000000000D301000000000000E7030000E7000000280000000000000008D00034000000000700000028348A008DA0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000002D000000000000006F000000000000000800000000000000300010000000803F000000000000803F040000010025003200350033003100390038003900FF0100000000000000010000000100000028000000280000000000000000000000070000003200350033003100390038003900020000004000000000010700000000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000003_7D78A4E7' and object_id = object_id(N'[dbo].[tblDangNhap]'))
CREATE STATISTICS [_WA_Sys_00000003_7D78A4E7] ON [dbo].[tblDangNhap]([fldHoTen]) WITH STATS_STREAM = 0x0100000001000000000000000000000076147175000000002F02000000000000EF01000000000000E7020000E7000000640000000000000008D0003400000000070000002D348A008DA0000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000E0410000803F000000000000E0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000003B000000000000008B000000000000000800000000000000300010000000803F000000000000803F0400000100330054007200A71E6E002000560003016E002000540075007900C11E6E00FF01000000000000000100000001000000280000002800000000000000000000000E00000054007200A71E6E002000560003016E002000540075007900C11E6E00020000004000000000010E00000000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000006_7D78A4E7' and object_id = object_id(N'[dbo].[tblDangNhap]'))
CREATE STATISTICS [_WA_Sys_00000006_7D78A4E7] ON [dbo].[tblDangNhap]([fldEmail]) WITH STATS_STREAM = 0x0100000001000000000000000000000093A6115A0000000043020000000000000302000000000000E7030000E7000000640000000000000008D00034000000000700000032348A008DA0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000018420000803F000000000000184200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000045000000000000009F000000000000000800000000000000300010000000803F000000000000803F04000001003D0074007500790065006E007400760062006700400067006D00610069006C002E0063006F006D00FF01000000000000000100000001000000280000002800000000000000000000001300000074007500790065006E007400760062006700400067006D00610069006C002E0063006F006D00020000004000000000011300000000
GO
if not exists (select * from sys.stats where name = N'PK_tblDangNhap' and object_id = object_id(N'[dbo].[tblDangNhap]'))
UPDATE STATISTICS [dbo].[tblDangNhap]([PK_tblDangNhap]) WITH STATS_STREAM = 0x01000000010000000000000000000000EF94991A000000002B02000000000000EB01000000000000E7030000E7000000640000000000000008D000340000000007000000BA278A008DA0000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000D0410000803F000000000000D041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000390000000000000087000000000000000800000000000000300010000000803F000000000000803F04000001003100410064006D0069006E006900730074007200610074006F007200FF01000000000000000100000001000000280000002800000000000000000000000D000000410064006D0069006E006900730074007200610074006F007200020000004000000000010D00000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblSinhVien]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblSinhVien](
	[fldMaSV] [nvarchar](10) NOT NULL,
	[fldHoTen] [nvarchar](70) NOT NULL,
	[fldMaLop] [nvarchar](10) NOT NULL,
	[fldHeDaoTao] [nvarchar](50) NOT NULL,
	[fldNgaySinh] [datetime] NULL,
	[fldDiaChi] [nvarchar](100) NULL,
	[fldGioiTinh] [bit] NULL,
	[fldSDT] [nvarchar](15) NULL,
 CONSTRAINT [PK_tblSinhVien] PRIMARY KEY CLUSTERED 
(
	[fldMaSV] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000002_72C60C4A' and object_id = object_id(N'[dbo].[tblSinhVien]'))
CREATE STATISTICS [_WA_Sys_00000002_72C60C4A] ON [dbo].[tblSinhVien]([fldHoTen]) WITH STATS_STREAM = 0x0100000001000000000000000000000060368A2F0000000066030000000000002603000000000000E7030000E70000008C0000000000000008D000340000000007000000DE79370141A3000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000006420000804000000000000006420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000000201000000000000C20100000000000020000000000000004F000000000000008A00000000000000CD00000000000000300010000000803F000000000000803F04000001002F004C00EA002000560003016E0020004300B001A1016E006700300010000000803F000000000000803F04000001003B004E00670075007900C51E6E00200048006F00E0006E00670020004400B001A1016E006700300010000000803F000000000000803F040000010043004E00670075007900C51E6E00200050006800A11E6D0020004800D31E6E00670020004400B001A1016E006700300010000000803F000000000000803F0400000100350050006800A11E6D00200050006800B001A1016E006700200041006E006800FF01000000000000000400000004000000280000002800000000000000000000003C0000004C00EA002000560003016E0020004300B001A1016E0067004E00670075007900C51E6E00200048006F00E0006E00670020004400B001A1016E00670050006800A11E6D0020004800D31E6E00670020004400B001A1016E00670050006800A11E6D00200050006800B001A1016E006700200041006E006800060000004000000000810C000000C0070C0000810B130000010F1E0000010F2D000000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000003_72C60C4A' and object_id = object_id(N'[dbo].[tblSinhVien]'))
CREATE STATISTICS [_WA_Sys_00000003_72C60C4A] ON [dbo].[tblSinhVien]([fldMaLop]) WITH STATS_STREAM = 0x01000000010000000000000000000000E58997110000000060020000000000002002000000000000E7030000E7000000140000000000000008D0003400000000070000007A3A0000BCA000000600000000000000060000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000C0400000C040000000000000C0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000006F00000000000000BC000000000000001800000000000000350000000000000052000000000000003000100000004040000000000000803F04000001001D0043004E0032003000100000000040000000000000803F04000001001D0043004E003400300010000000803F000000000000803F04000001001D0043004E003500FF01000000000000000600000003000000280000002800000000000000000000000500000043004E00320034003500050000004000000000400200000083010200008201030000010104000000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000004_72C60C4A' and object_id = object_id(N'[dbo].[tblSinhVien]'))
CREATE STATISTICS [_WA_Sys_00000004_72C60C4A] ON [dbo].[tblSinhVien]([fldHeDaoTao]) WITH STATS_STREAM = 0x01000000010000000000000000000000DF3E151000000000A4020000000000006402000000000000E7030000E7000000640000000000000008D000340000000007000000ED79370141A300000400000000000000040000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000984100008040000000000000984100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000095000000000000000001000000000000180000000000000041000000000000006A00000000000000300010000000803F000000000000803F0400000100290043006800ED006E0068002000710075006900300010000000803F000000000000803F0400000100290043006800ED006E00680020005100750079003000100000000040000000000000803F04000001002B006C006900EA006E00200074006800F4006E006700FF01000000000000000400000003000000280000002800000000000000000000001400000043006800ED006E006800200071007500690079006C006900EA006E00200074006800F4006E006700050000004000000000C00800000081010800000101090000020A0A000000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000005_72C60C4A' and object_id = object_id(N'[dbo].[tblSinhVien]'))
CREATE STATISTICS [_WA_Sys_00000005_72C60C4A] ON [dbo].[tblSinhVien]([fldNgaySinh]) WITH STATS_STREAM = 0x01000000010000000000000000000000C781AD4B000000002802000000000000E8010000000000003D0000003D0000000800170300000000000000000000000007000000F179370141A3000004000000000000000400000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000018000000000000410000804000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000008C0000000000000020000000000000003B0000000000000056000000000000007100000000000000100018000000803F000000000000803F00000000FB7E0000040000100018000000803F000000000000803F000000003F7F0000040000100018000000803F000000000000803F00000000E47F0000040000100018000000803F000000000000803F000000000E800000040000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000006_72C60C4A' and object_id = object_id(N'[dbo].[tblSinhVien]'))
CREATE STATISTICS [_WA_Sys_00000006_72C60C4A] ON [dbo].[tblSinhVien]([fldDiaChi]) WITH STATS_STREAM = 0x010000000100000000000000000000004CF874460000000082020000000000004202000000000000E7020000E7000000C80000000000000008D000340000000007000000FB79370141A300000400000000000000040000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000000010410000804000000000000010410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000007D00000000000000DE0000000000000018000000000000003B000000000000005600000000000000300010000000803F000000000000803F040000010023004800E00020004E00D91E69003000100000000040000000000000803F04000001001B0068006E00300010000000803F000000000000803F040000010027007900EA006E0020006200E10069002000FF01000000000000000400000003000000280000002800000000000000000000000F0000004800E00020004E00D91E69006E007900EA006E0020006200E10069002000050000004000000000C00100000081050100000201060000010807000000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000007_72C60C4A' and object_id = object_id(N'[dbo].[tblSinhVien]'))
CREATE STATISTICS [_WA_Sys_00000007_72C60C4A] ON [dbo].[tblSinhVien]([fldGioiTinh]) WITH STATS_STREAM = 0x010000000100000000000000000000001F522AA100000000D401000000000000940100000000000068000000680000000100010000000000000000000000000007000000FB79370141A3000004000000000000000400000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F00008040000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000380000000000000010000000000000002400000000000000100011000000803F000000000000803F000400001000110000004040000000000000803F01040000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000008_72C60C4A' and object_id = object_id(N'[dbo].[tblSinhVien]'))
CREATE STATISTICS [_WA_Sys_00000008_72C60C4A] ON [dbo].[tblSinhVien]([fldSDT]) WITH STATS_STREAM = 0x010000000100000000000000000000001836D73000000000AB020000000000006B02000000000000E7020000E70000001E0000000000000008D000340000000007000000FB79370141A300000400000000000000040000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000904100008040000000000000904100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000093000000000000000701000000000000180000000000000043000000000000006A00000000000000300010000000803F000000000000803F04000001002B003000390037003300360035003400300039003000300010000000803F000000000000803F04000001002700370039003800370039003800380037003000100000000040000000000000803F04000001002900390038003700360035003400330032003100FF01000000000000000400000003000000280000002800000000000000000000001B000000300039003700330036003500340030003900300037003900380037003900380038003700390038003700360035003400330032003100040000004000000000810A00000081080A0000020912000000
GO
if not exists (select * from sys.stats where name = N'PK_tblSinhVien' and object_id = object_id(N'[dbo].[tblSinhVien]'))
UPDATE STATISTICS [dbo].[tblSinhVien]([PK_tblSinhVien]) WITH STATS_STREAM = 0x010000000100000000000000000000000782CB8D0000000073030000000000003303000000000000E7030000E7000000140000000000000008D000340000000007000000653A0000BCA000000600000000000000060000000000000000000000ABAA2A3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000060000000600000001000000100000000000A0410000C040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000003201000000000000CF0100000000000030000000000000005B000000000000008600000000000000B100000000000000DC000000000000000701000000000000300010000000803F000000000000803F04000001002B004200310030003000310031003100310031003100300010000000803F000000000000803F04000001002B004200310030003300310030003400310031003100300010000000803F000000000000803F04000001002B004200310030003300310030003400310031003200300010000000803F000000000000803F04000001002B004200310030003300310030003400310032003300300010000000803F000000000000803F04000001002B004200310030003300310031003100340033003200300010000000803F000000000000803F04000001002B004200310030003300310032003300350034003300FF01000000000000000600000006000000280000002800000000000000000000001E0000004200310030003000310031003100310031003100330031003000340031003100310032003200330031003100340033003200320033003500340033000B00000040000000004003000000810703000040020A0000C0030C0000C0010F00008101100000010111000001021200008105140000010519000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblGiangVien]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblGiangVien](
	[fldMaGV] [nvarchar](10) NOT NULL,
	[fldHoTenGV] [nvarchar](70) NOT NULL,
	[fldMaMH] [nvarchar](10) NOT NULL,
	[fldNgaySinh] [datetime] NULL,
	[fldGioiTinh] [bit] NULL,
	[fldEmail] [nvarchar](50) NULL,
	[fldDiaChi] [nvarchar](70) NULL,
	[fldSDT] [nvarchar](15) NULL,
 CONSTRAINT [PK_tblGiangVien] PRIMARY KEY CLUSTERED 
(
	[fldMaGV] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000003_76969D2E' and object_id = object_id(N'[dbo].[tblGiangVien]'))
CREATE STATISTICS [_WA_Sys_00000003_76969D2E] ON [dbo].[tblGiangVien]([fldMaMH]) WITH STATS_STREAM = 0x010000000100000000000000000000000F0DA8540000000040020000000000000002000000000000E7030000E7000000140000000000000008D0003400000000070000009A4F0000BCA0000005000000000000000500000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000020410000A040000000000000204100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000052000000000000009C00000000000000100000000000000031000000000000003000100000000040000000000000803F040000010021004D0048003000300031003000100000004040000000000000803F040000010021004D004800300030003200FF0100000000000000050000000200000028000000280000000000000000000000060000004D004800300030003100320004000000400000000040040000008201040000030105000000
GO
if not exists (select * from sys.stats where name = N'PK_tblGiangVien' and object_id = object_id(N'[dbo].[tblGiangVien]'))
UPDATE STATISTICS [dbo].[tblGiangVien]([PK_tblGiangVien]) WITH STATS_STREAM = 0x01000000010000000000000000000000C68B839200000000A7020000000000006702000000000000E7030000E7000000140000000000000008D000340000000007000000954F0000BCA00000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000020410000A0400000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000A40000000000000003010000000000002000000000000000410000000000000062000000000000008300000000000000300010000000803F000000000000803F0400000100210047005600300030003100300010000000803F0000803F0000803F0400000100210047005600300030003300300010000000803F000000000000803F0400000100210047005600300030003400300010000000803F000000000000803F0400000100210047005600300030003600FF01000000000000000500000005000000280000002800000000000000000000000900000047005600300030003100320033003400360007000000400000000040040000008101040000810105000081010600008101070000010108000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblDiem]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblDiem](
	[fldMaSV] [nvarchar](10) NOT NULL,
	[fldMaMH] [nvarchar](10) NOT NULL,
	[fldLanThi] [tinyint] NOT NULL,
	[fldHeSo] [tinyint] NULL,
	[fldDiem] [float] NULL,
	[fldTrangThai] [bit] NULL,
 CONSTRAINT [PK_tblDiem] PRIMARY KEY CLUSTERED 
(
	[fldMaSV] ASC,
	[fldMaMH] ASC,
	[fldLanThi] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000002_3A81B327' and object_id = object_id(N'[dbo].[tblDiem]'))
CREATE STATISTICS [_WA_Sys_00000002_3A81B327] ON [dbo].[tblDiem]([fldMaMH]) WITH STATS_STREAM = 0x0100000001000000000000000000000014E7FFF2000000000B02000000000000CB01000000000000E7030000E7000000140000000000000008D00034000000000700000076E96C01BAA0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000290000000000000067000000000000000800000000000000300010000000803F000000000000803F040000010021004D004800300030003100FF0100000000000000010000000100000028000000280000000000000000000000050000004D004800300030003100020000004000000000010500000000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000003_3A81B327' and object_id = object_id(N'[dbo].[tblDiem]'))
CREATE STATISTICS [_WA_Sys_00000003_3A81B327] ON [dbo].[tblDiem]([fldLanThi]) WITH STATS_STREAM = 0x01000000010000000000000000000000A27AD04700000000B80100000000000078010000000000003001000030000000010003000000000000000000000000000700000076E96C01BAA0000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F0000803F000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000001C000000000000000800000000000000100011000000803F000000000000803F01040000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000004_3A81B327' and object_id = object_id(N'[dbo].[tblDiem]'))
CREATE STATISTICS [_WA_Sys_00000004_3A81B327] ON [dbo].[tblDiem]([fldHeSo]) WITH STATS_STREAM = 0x01000000010000000000000000000000D230E19C00000000F001000000000000B00100000000000030000000300000000100030000000000000000000000000007000000DB59FA00BCA00000080000000000000008000000000000000000803F0000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000110000000000803F00000041000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000540000000000000018000000000000002C0000000000000040000000000000001000110000004040000000000000803F00040000100011000000803F0000803F0000803F020400001000110000004040000000000000803F03040000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000005_3A81B327' and object_id = object_id(N'[dbo].[tblDiem]'))
CREATE STATISTICS [_WA_Sys_00000005_3A81B327] ON [dbo].[tblDiem]([fldDiem]) WITH STATS_STREAM = 0x010000000100000000000000000000004799F81B000000000502000000000000C5010000000000003E0000003E0000000800350000000000000000000000000007000000DF59FA00BCA0000008000000000000000800000000000000ABAAAA3E0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000018000000000000410000004100000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000006900000000000000180000000000000033000000000000004E00000000000000100018000000803F000000000000803F0000000000001440040000100018000000803F000000000000803F0000000000001C40040000100018000000404000004040000040400000000000002240040000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000006_3A81B327' and object_id = object_id(N'[dbo].[tblDiem]'))
CREATE STATISTICS [_WA_Sys_00000006_3A81B327] ON [dbo].[tblDiem]([fldTrangThai]) WITH STATS_STREAM = 0x01000000010000000000000000000000FD71BE1700000000D401000000000000940100000000000068000000680000000100010000000000000000000000000007000000DF59FA00BCA0000008000000000000000800000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F00000041000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000380000000000000010000000000000002400000000000000100011000000803F000000000000803F00040000100011000000E040000000000000803F01040000
GO
if not exists (select * from sys.stats where name = N'PK_tblDiem' and object_id = object_id(N'[dbo].[tblDiem]'))
UPDATE STATISTICS [dbo].[tblDiem]([PK_tblDiem]) WITH STATS_STREAM = 0x01000000030000000000000000000000D67DDD4F000000004F02000000000000DF01000000000000E7030000E7000000140000000000000008D0003400000000E7030000E7000000140000000000000008D00034000000003001000030000000010003000000000000000000000000000700000071E96C01BAA0000001000000000000000100000000000000000000000000803F0000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000003000000100000000000F8410000803F000000000000A041000020410000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000033000000000000007B000000000000000800000000000000300010000000803F000000000000803F04000001002B004200310030003000310031003100310031003100FF01000000000000000100000001000000280000002800000000000000000000000A0000004200310030003000310031003100310031003100020000004000000000010A00000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tblLop]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tblLop](
	[fldMaLop] [nvarchar](10) NOT NULL,
	[fldTenLop] [nvarchar](50) NOT NULL,
	[fldMaKhoa] [nvarchar](10) NOT NULL,
	[fldKhoaHoc] [nvarchar](20) NULL,
 CONSTRAINT [PK_tblLop] PRIMARY KEY CLUSTERED 
(
	[fldMaLop] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000002_1BFD2C07' and object_id = object_id(N'[dbo].[tblLop]'))
CREATE STATISTICS [_WA_Sys_00000002_1BFD2C07] ON [dbo].[tblLop]([fldTenLop]) WITH STATS_STREAM = 0x0100000001000000000000000000000096A23E5B0000000052030000000000001203000000000000E7030000E7000000640000000000000008D000340000000007000000E928FD00B8A00000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000100000010000000DBB69D410000E04000000000DBB69D410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000002E01000000000000AE0100000000000030000000000000004D000000000000007A00000000000000A700000000000000D4000000000000000101000000000000300010000000803F000000000000803F04000001001D0043004E003800300010000000803F000000000000803F04000001002D004300F4006E00670020004E0067006800C71E20003100300010000000803F0000803F0000803F04000001002D004300F4006E00670020004E0067006800C71E20003300300010000000803F000000000000803F04000001002D004300F4006E00670020006E0067006800C71E20003400300010000000803F000000000000803F04000001002D004300F4006E00670020006E0067006800C71E20003600300010000000803F000000000000803F04000001002D004300F4006E00670020004E0067006800C71E20003700FF01000000000000000700000007000000280000002800000000000000000000001200000043004E003800F4006E00670020004E0067006800C71E20003100320033003400360037000A000000400000000040010000008102010000400903000081010C000081010D000081010E000081010F00008101100000010111000000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000004_1BFD2C07' and object_id = object_id(N'[dbo].[tblLop]'))
CREATE STATISTICS [_WA_Sys_00000004_1BFD2C07] ON [dbo].[tblLop]([fldMaKhoa]) WITH STATS_STREAM = 0x01000000010000000000000000000000D73EA1C1000000003302000000000000F301000000000000E7030000E7000000140000000000000008D00034000000000700000002DDCB00B8A000000A000000000000000A00000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000006666E64000002041000000006666E6400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000004A000000000000008F0000000000000010000000000000002F000000000000003000100000000041000000000000803F04000001001F0063006E00740074003000100000000040000000000000803F04000001001B006B007400FF01000000000000000A00000002000000280000002800000000000000000000000600000063006E00740074006B0074000300000040000000008804000000020204000000
GO
if not exists (select * from sys.stats where name = N'_WA_Sys_00000005_1BFD2C07' and object_id = object_id(N'[dbo].[tblLop]'))
CREATE STATISTICS [_WA_Sys_00000005_1BFD2C07] ON [dbo].[tblLop]([fldKhoaHoc]) WITH STATS_STREAM = 0x01000000010000000000000000000000212431030000000098020000000000005802000000000000E7020000E7000000280000000000000008D000340000000007000000F228FD00B8A000000700000000000000070000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000499244410000E04000000000499244410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000008B00000000000000F400000000000000180000000000000045000000000000006E000000000000003000100000000040000000000000803F04000001002D00320030003100300020002D0020003200300031003200300010000000803F000000000000803F0400000100290032003000310030002D0032003000310032003000100000008040000000000000803F04000001001D006B0034003100FF010000000000000007000000030000002800000028000000000000000000000013000000320030003100300020002D00200032003000310032002D0032003000310032006B0034003100050000004000000000C004000000820704000001050B0000040310000000
GO
if not exists (select * from sys.stats where name = N'PK_tblLop' and object_id = object_id(N'[dbo].[tblLop]'))
UPDATE STATISTICS [dbo].[tblLop]([PK_tblLop]) WITH STATS_STREAM = 0x010000000100000000000000000000000689E220000000000302000000000000C301000000000000E7030000E7000000140000000000000008D000340000000007000000EC429700B1A0000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0400000803F000000000000C04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000025000000000000005F000000000000000800000000000000300010000000803F000000000000803F04000001001D0043004E003400FF01000000000000000100000001000000280000002800000000000000000000000300000043004E003400020000004000000000010300000000, ROWCOUNT = 10, PAGECOUNT = 1
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tblSinhVien_tblLop]') AND parent_object_id = OBJECT_ID(N'[dbo].[tblSinhVien]'))
ALTER TABLE [dbo].[tblSinhVien]  WITH CHECK ADD  CONSTRAINT [FK_tblSinhVien_tblLop] FOREIGN KEY([fldMaLop])
REFERENCES [dbo].[tblLop] ([fldMaLop])
GO
ALTER TABLE [dbo].[tblSinhVien] CHECK CONSTRAINT [FK_tblSinhVien_tblLop]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tblGiangVien_tblMonHoc]') AND parent_object_id = OBJECT_ID(N'[dbo].[tblGiangVien]'))
ALTER TABLE [dbo].[tblGiangVien]  WITH CHECK ADD  CONSTRAINT [FK_tblGiangVien_tblMonHoc] FOREIGN KEY([fldMaMH])
REFERENCES [dbo].[tblMonHoc] ([fldMaMH])
GO
ALTER TABLE [dbo].[tblGiangVien] CHECK CONSTRAINT [FK_tblGiangVien_tblMonHoc]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tblDiem_tblMonHoc]') AND parent_object_id = OBJECT_ID(N'[dbo].[tblDiem]'))
ALTER TABLE [dbo].[tblDiem]  WITH CHECK ADD  CONSTRAINT [FK_tblDiem_tblMonHoc] FOREIGN KEY([fldMaMH])
REFERENCES [dbo].[tblMonHoc] ([fldMaMH])
GO
ALTER TABLE [dbo].[tblDiem] CHECK CONSTRAINT [FK_tblDiem_tblMonHoc]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tblDiem_tblSinhVien]') AND parent_object_id = OBJECT_ID(N'[dbo].[tblDiem]'))
ALTER TABLE [dbo].[tblDiem]  WITH CHECK ADD  CONSTRAINT [FK_tblDiem_tblSinhVien] FOREIGN KEY([fldMaSV])
REFERENCES [dbo].[tblSinhVien] ([fldMaSV])
GO
ALTER TABLE [dbo].[tblDiem] CHECK CONSTRAINT [FK_tblDiem_tblSinhVien]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_tblLop_tblKhoa]') AND parent_object_id = OBJECT_ID(N'[dbo].[tblLop]'))
ALTER TABLE [dbo].[tblLop]  WITH CHECK ADD  CONSTRAINT [FK_tblLop_tblKhoa] FOREIGN KEY([fldMaKhoa])
REFERENCES [dbo].[tblKhoa] ([fldMaKhoa])
GO
ALTER TABLE [dbo].[tblLop] CHECK CONSTRAINT [FK_tblLop_tblKhoa]
